.screen_background{
	height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login_page_image{
	background-image: url("../images/sign_up_logo.svg");
	background-size: cover;
	height: 400px;
	width: 400px;
}

.login_content_div{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	justify-content: flex-start;
	margin: 32px;
	border: 1px solid lightgrey;
	border-radius: 2%;
	padding:48px 40px 36px;
}

@media (min-width:300px){
	.login_content_div{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin: 32px;
		border: 1px solid lightgrey;
		border-radius: 2%;
		padding:12px 10px 9px;
	}
}