.mail_search_bar{
	background-color: #666666;
    border-radius: 8px;
    border: 0;
    width: 90%;
    height: 44px;
    padding: 4px 8px 4px 44px;
}

.mail_search_bar:focus{
	background-color: white;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	outline: none;
}

.mail_search_bar::-webkit-input-placeholder{
	color:black;
}


.search_bar_main_div{
	height: 100%;
}

.search_bar_icon{
	color: black;
	width: 5%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}