.splitter-main-div{
	height: 100%;
	width: 100%;
}

.container{
	flex:auto;
	flex-basis: 300px;
}

.split_vertical{
	display: flex;
	flex-direction: row;
}

.vertical_splitter{
	height: 100%;
	border-right:10px solid;
	cursor: pointer;
}

.horizontal_splitter{
	width: 100%;
	border-bottom:10px solid;
	cursor: pointer;
}

.horizontal_splitter:hover{
	border-bottom:10px solid blue;
	cursor: pointer;
}

.container_vertical{
	display: flex;
}

.split_horizontal{
	display: flex;
	flex-direction: column;
}