.sidemenu_bar{
	min-width: 72px;
	max-width: 256px;
	height: 100%;
}

.sidemenu_open{
	min-width:256px;
	border-right: 1px solid #ffffff30;
}

.sidemenu_item{
	color: white;
    height: 32px;
    padding: 0 0 0 28px;
    margin: 0 12px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidemenu_compose_button{
	background-image:url('https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png');
    background-size: contain;
	height: 28px;
}

.sidemenu_compose_div{
	height: 48px;
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 24px;
}

.sidemenu_compose{
	height: 48px;
    padding: 0 80px 0 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.sidemenu_shrink{
	display: none;
}

.sidemenu_compose_div .sidemenu_compose_button {
	margin: 0 10px 0 8px;
    width: 28px;
}

.sidemenu_item .fas {
    margin-right: 18px;
    width: 25px;
}

.sidemenu_item:hover{
	background-color: grey;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;	
}

.sidemenu_compose_div .sidemenu_shrink{
	width: 48px;
}

.sidemenu_items{
	height: 195px;
	overflow-y: auto;
	overflow-x: hidden;
}

.more_item_hide{
	display: none;
}