.row_margin{
	margin:16px 0 !important;
}

.main_header{
	width: 150px;
	background: -webkit-linear-gradient(0deg, #1809ff,#ff0909,#ffec09,#0949ff,#2fff09, #ff0c00 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sign_in_instead{
	color: blueviolet;
	cursor: pointer;
}

.sign_up_group{
	height: 100%;
	width: 100%;
	background-color: aliceblue;
}

.sign_up_mail_name{
	background-color: white !important;
}

.sign_up_mail_name_input{
	border-right:1px !important;
}

.password-confirmation-correct {
    padding-top: 10px;
    color: green;
}

.password-confirmation-ban {
    padding-top: 10px;
    color: red;
}
.signup_page_image{
	background-image: url("../images/sign_up_logo.svg");
	background-size: cover;
	height: 400px;
	width: 400px;
}

.login_content_div{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	justify-content: flex-start;
	margin: 32px;
	border: 1px solid lightgrey;
	border-radius: 2%;
	padding:48px 40px 36px;
}

@media (min-width:300px){
	.login_content_div{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin: 32px;
		border: 1px solid lightgrey;
		border-radius: 2%;
		padding:12px 10px 9px;
	}
}